:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(72, 55%, 79%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body,
html {
  background: var(--Magnolia);
  height: 100vh;
  background-image: url("../assets/images/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
  padding-top: 10px;
}

.deskripsi {
  width: 100%;
  padding-top: 2px;
}

.deskripsi p {
  font-size: small;
  font-family: 'Outfit', sans-serif;
  padding-top: 4px;
}

section {
  border: none;
  margin: 0;
  padding: 10px 10rem 0 10rem;
  text-align: center;
}

/* card 1 start */
.card1 {
  border: solid white;
  background-color: var(--Magnolia);
  color: var(--Marine-blue);
  margin: 16px 30px 20px 0;
  padding: 0;
  width: 210px;
  height: 260px;
  display: inline-block;
  border-radius: 10px;
}

/* card 1 end */
/* card 2 start */
.card2 {
  border: solid white;
  background-color: var(--Cool-gray);
  color: --Purplish-blue;
  margin-right: 30px;
  padding: 0;
  width: 210px;
  height: 260px;
  display: inline-block;
  border-radius: 10px;
}

/* card 2 end */
img {
  border-radius: 10px 10px 0 0;
  margin: auto;
  width: 100%;
  height: 200px;
  padding: 0;
  cursor: pointer;
}

.img-ico {
  width: 40px;
  height: 40px;
  position: absolute;
  transform: translateY(-40px);
  cursor: pointer;
}

footer {
  position: relative;
  padding-left: 10px;
}