:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(72, 55%, 79%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body,
html {
  height: 100vh;
  background-image: url("../assets/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* style for index start */
/* nav start */
.nav-bar {
  overflow: hidden;
  background: rgba(249, 222, 12, 0.1);
  border: solid mediumaquamarine;
  display: flex;
  flex-direction: column;
  align-content: center;
  float: left;
  width: 10rem;
  border-radius: 10px;
  margin: 20px 0 0 13rem;
}

.nav-bar a {
  float: left;
  display: block;
  color: black;
  text-align: left;
  padding: 7px 16px;
  text-decoration: none;
}

.nav-bar a:hover {
  color: blue;
  border-radius: 10px;
}

.nav-content {
  overflow: hidden;
  background: rgba(249, 222, 12, 0.1);
  border: solid mediumaquamarine;
  display: inline;
  flex-direction: column;
  float: left;
  width: 50rem;
  height: 521px;
  border-radius: 10px;
  margin: 20px 0 0 0;
}

/* nav end */

/* column start */
.column {
  display: flex;
  width: 100%;
  padding: 10px 10px 1px 10px;
  flex-direction: column;
}


/* column end */

/* style for index end */


/* style for galeri.html start */
header {
  text-align: center;
  padding-top: 10px;
}

.deskripsi {
  width: 100%;
  padding-top: 2px;
}

.deskripsi p {
  font-size: small;
  font-family: 'Outfit', sans-serif;
  padding-top: 4px;
}

section {
  border: none;
  margin: 0;
  padding: 10px 10rem 0 10rem;
  text-align: center;
}

/* card 1 start */
.card1 {
  border: solid white;
  background-color: var(--Magnolia);
  color: var(--Marine-blue);
  margin: 16px 30px 20px 0;
  padding: 0;
  width: 210px;
  height: 260px;
  display: inline-block;
  border-radius: 10px;
}

/* card 1 end */
/* card 2 start */
.card2 {
  border: solid white;
  background-color: var(--Cool-gray);
  color: --Purplish-blue;
  margin-right: 30px;
  padding: 0;
  width: 210px;
  height: 260px;
  display: inline-block;
  border-radius: 10px;
}

/* card 2 end */
img {
  border-radius: 10px 10px 0 0;
  margin: auto;
  width: 100%;
  height: 200px;
  padding: 0;
  cursor: pointer;
}

.img-ico {
  width: 40px;
  height: 40px;
  position: absolute;
  transform: translateY(-40px);
  cursor: pointer;
}

footer {
  position: relative;
  padding-left: 10px;
}

/* style for galeri.html end */

/* style grid start */

.grid-container {
  justify-content: center;
  background-color: pink;
  margin: 6vh 20px 1px 29em;
  border-radius: 10px;
  display: inline-grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 80px 80px 80px 80px;
  grid-gap: 5px;
  padding: 10px;
  height: 500px;
}

.grid-container>div {
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
  display: grid;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 2px solid;
  border-style: groove;
}

/* grid item1 start */
.item-1 {
  background-color: rgba(43, 224, 19, 0.5);
  grid-column: 1/3;
  grid-row: 1/3;
}

.grid-item1 {
  height: 50px;
  width: 50px;
}

/* grid item1 end */

/* grid item2 start */
.item-2 {
  background-color: rgba(51, 228, 228, 0.5);
  grid-column: 3/5;
  grid-row: 1/2;
}

.grid-item2 {
  height: 35px;
  width: 35px;
}

/* grid item2 end */

/* grid item3 start */
.item-3 {
  background-color: rgba(238, 234, 16, 0.5);
  grid-column: 3/4;
  grid-row: 2/4;
}

.grid-item3 {
  height: 30px;
  width: 30px;
}

/* grid item3 end */

/* grid item4 start */
.item-4 {
  background-color: rgba(110, 87, 92, 0.89);
  grid-column: 4/5;
  grid-row: 2/3;
}

.grid-item4 {
  height: 30px;
  width: 30px;
}

/* grid item4 end */

/* grid item5 start */
.item-5 {
  background-color: rgba(238, 160, 16, 0.5);
  grid-column: 1/3;
  grid-row: 3/5;
}

.grid-item5 {
  height: 30px;
  width: 30px;
}

/* grid item5 end */

/* grid item6 start */
.item-6 {
  background-color: rgba(255, 4, 4, 0.432);
  grid-column: 3/4;
  grid-row: 4/5;
}

.grid-item6 {
  height: 30px;
  width: 30px;
}

/* grid item6 end */

/* grid item7 start */
.item-7 {
  background-color: rgba(20, 16, 238, 0.5);
  grid-column: 4/5;
  grid-row: 3/5;
}

.grid-item7 {
  height: 30px;
  width: 30px;
}

/* grid item7 end */

/* grid item8 start */
.item-8 {
  background-color: rgba(238, 68, 16, 0.6);
  grid-column: 1/4;
  grid-row: 5/6;
}

.grid-item8 {
  height: 30px;
  width: 30px;
}

/* grid item8 end */

/* grid item9 start */
.item-9 {
  background-color: rgba(238, 16, 201, 0.5);
  grid-column: 4/5;
  grid-row: 5;
}

.grid-item9 {
  height: 30px;
  width: 30px;
}

/* grid item9 end */
/* grid item10 start */
.item-10 {
  background-color: rgba(104, 115, 211, 0.5);
  grid-column: 1/5;
  grid-row: 6/7;
}

.grid-item10 {
  height: 30px;
  width: 30px;
}

/* grid item10 end */
/* style grid end */


/* style flex start */
.container-global {
  display: flex;
  background-color: pink;
  border-radius: 10px;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
  width: 400px;
  height: 550px;
  padding: 10px;
}

.container-global>div {
  align-items: center;
}

/* bagian atas start */
.container-atas {
  height: 353px;
  width: 380px;
  display: flex;
  gap: 10px;
}

/* bagian atas kiri start */
.flex-container1 {
  display: flex;
  flex-direction: column;
  height: 353px;
  width: 185px;
  gap: 10px;
}

.flex-item1 {
  /*github*/
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid;
  border-style: groove;
  height: 171.5px;
  background-color: rgba(43, 224, 19, 0.5);
}

.flex-item2 {
  /*linkedin*/
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid;
  border-style: groove;
  height: 171.5px;
  background-color: rgba(51, 228, 228, 0.5);
}

/* bagian atas kiri end */

/* bagian atas kanan start */
.flex-container2 {
  display: flex;
  flex-direction: column;
  height: 353px;
  width: 185px;
  gap: 10px;
}

/* kanan atas facebook start */
.container-kanan-atas {
  /*facebook*/
  width: 185px;
  border: 2px solid;
  border-style: groove;
  height: 85.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(238, 234, 16, 0.5);
}

/* kanan atas facebook end */

/* kanan atas bagian bawah start */
.container-kanan-bawah {
  display: flex;
  width: 185px;
  height: 257.25px;
  gap: 10px;
}

.masenger-twiter,
.youtube {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 87.5px;
}


.flex-item4 {
  /*messenger*/
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid;
  border-style: groove;
  height: 165px;
  width: 87px;
  background-color: rgba(110, 87, 92, 0.89);
}

.flex-item5 {
  /*twitter*/
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid;
  border-style: groove;
  height: 82px;
  width: 87px;
  background-color: rgba(238, 160, 16, 0.5);
}

.flex-item6 {
  /*youtube*/
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid;
  border-style: groove;
  height: 82px;
  width: 87px;
  background-color: rgba(255, 4, 4, 0.432);
}

.flex-item7 {
  /*discord*/
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid;
  border-style: groove;
  height: 165px;
  width: 87px;
  background-color: rgba(20, 16, 238, 0.5);
}

/* kanan atas bagian bawah end */
/* bagian atas kanan end */
/* bagian atas end */

/* bagian bawah bagian atas start */
.container-bawah {
  height: 177px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wa-email {
  display: flex;
  height: 83.5px;
  width: 380px;
  gap: 10px;
}

.flex-item8 {
  /*whatsapp*/
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 282px;
  border: 2px solid;
  border-style: groove;
  background-color: rgba(238, 68, 16, 0.6);
}

.flex-item9 {
  /*mail*/
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 86px;
  border: 2px solid;
  border-style: groove;
  background-color: rgba(238, 16, 201, 0.5);
}

/* bagian bawah bagian atas end */

/* bagian exit start */
.flex-item10 {
  /*home*/
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 380px;
  height: 75px;
  border: 2px solid;
  border-style: groove;
  background-color: rgba(104, 115, 211, 0.5);
}

/* bagian exit end */
/* style flex end */